.reg-wrapper {
  background-color: #fc3468;
}

.register-btn {
  background-color: #fc3468;
}

.custom-hr {
  color: #fc3468;
  background-color: #fc3468;
  height: 3px;
  width: 20%;
  margin: 0 auto;
  border: none;
}

/* Cart wrapper hover effect */
.cart-wrapper {
background-color: #fc3468;
padding: 20px;
color: white;
border-radius: 15px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cart-wrapper:hover {
transform: translateY(-5px); 
box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}


.Proceed-btn {
background-color: #fc3468;
color: white;
border: none;
padding: 8px 45px;
border-radius: 10px;
transition: all 0.3s ease; 
}

.Proceed-btn:hover {
background-color: white; 
color: #fc3468; 
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
cursor: pointer; 
transform: scale(1.05); 
}
.installment {
cursor: pointer;
}
.full-payment {
cursor: pointer;
}
.installmental {
display: none;
}
.install-hr {
display: block;
}
.install-element {
display: flex;

}