body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  text-align: center;
}
.click{color: #fc3468;
text-decoration: none;
border: 1px solid #fc3468;
padding: 10px 20px 10px 20px;
border-radius: 8px;
}
.click:hover {
  background-color: #fc3468  ;
  color: #fff;
}
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
}

.breadcrumb {
  font-size: 14px;
  margin-bottom: 20px;
}

.question {
  font-size: 24px;
  font-weight: bolder;
  color: #fc3468;
  margin-bottom: 30px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.options button {
  padding: 15px;
  font-size: 16px;
  color: #fc3468;
  background-color:#fff ;
  border: 1px solid #fc3468;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bolder;
}

.options button:hover {
  background-color: #fc3468  ;
  color: #fff;
}

.progress-bar {
  margin-top: 30px;
  height: 10px;
  background-color:#fff;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #fc3468;
}

.progress-bar-inner {
  height: 100%;
  width: 0%;
  background-color: #fc3468;
  transition: width 0.3s;
}

.progress-text {
  margin-top: 10px;
  font-size: 14px;
  color: #888;
}

.result {
  font-size: 20px;
  color: #fc3468;
  margin-top: 20px;
}

.preloader {
  display: none;
  font-size: 18px;
  color: #888;
  margin-top: 20px;
}

@media screen and (max-width:760px) {
  .header {
      font-size: 1.3em;
   }

   .question {
      font-size: 1.3em;
   }
}
